* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.footer {
    position: fixed;
    text-align: center;
    font-size: 17px;
    padding: 20px;
    background-color: transparent;
    color: #202340;
    margin-top: auto;
    margin-left: -10px;
    bottom: 0;
    width: 100%;
}   