<div class="boat-details">
    <img src="https://luxonomy.net/the-6-best-luxury-yacht-companies/.jpg" class="boat-image">
    <div class="boat-info">
        <h2>Name: </h2>
        <p><strong>Company Name:</strong></p>
        <p><strong>Length:</strong></p>
        <p><strong>Range (at 5 kn):</strong></p>
        <p><strong>Recharge Time:</strong></p>
    </div>
    
    <!-- <div class="actions">
        {{#if isOwner}}
        <a class="edit-btn" href="/planet/{{planet._id}}/edit">Edit</a>
        <a class="delete-btn" href="/planet/{{planet._id}}/delete">Delete</a>
        {{else}}
        <a id="like-button" class="like-btn" href="">Like</a>
        <p id="liked-message" class="liked-message hidden">You've already liked this planet.</p>
        {{/if}}
    </div> -->
</div>